In [1]:
import pandas as pd
import numpy as np

CCTV_Seoul = pd.read_csv(
    # 현재 작업 디렉토리(.) 아래 (/) data 폴더 안의 csv파일   
    './data/01. CCTV_in_Seoul.csv', # 파일과 파일의 경로 지정
    encoding='utf-8'                # 한글을 유니코드를 사용해서 읽기 
    )
# print(type(CCTV_Seoul))
# print(CCTV_Seoul) # 전체 데이터 확인
# print(CCTV_Seoul.head()) # 상위 5개 데이터 확인 
# print(CCTV_Seoul.tail()) # 하위 5개 데이터 확인

CCTV_Seoul.head(10)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613
5  광진구   707        573     78     53    174
6  구로구  1561       1142    173    246    323
7  금천구  1015        674     51    269    354
8  노원구  1265        542     57    451    516
9  도봉구   485        238    159     42    386