---
### 04 셀프 주유소 휘발유 가격 분석
---

1. Selenium Library 사용
    - 원래 목정은 웹 어플리케이션 개발, 자동화 테스트를 하기 위해 만들어짐,
    - 데이터 수집에 사용할 것이다
    - selenium.webdriver : 데이터 수집에 사용
        - **웹브라우저**를 제어하고 자동화할 수 있는 API제공
        - 다양한 브라우저 제어
    - 터미널 설치 실행 코드 ***pip install selenium***
2. webdriver module
    - 브라우저 제어 **웹사이트에서 로봇인지 아닌지 확인페이지가 webdriver 모듈을 제한하기 위한 것**
        - get(URL): 지정된 URL 이동
        - back(), forward(), refresh()
        - maxmize_window() : 브라우저 창을 최대화
        - close() : 현재 탭 삭제
        - quit() : 전체 브라우저 닫기
    - 요소 찾기
        - find_element(By.ID,'찾고자할 ID명')
        - find_element(By.NAME,'찾고자할 태그명')
        - find_element(By.CLASS,'찾고자할 class명')
        - find_element(By.TAG,'찾고자할 태그명')
        - find_element(By.CSS_SELECTOR,'css selector')
        - find_element(By.XPATH,'찾고자할 xpath명'), xpath : select 축약
    - 상호작용 
        - click() : 특정 태그를 클릭 할때 사용
        - send_key('value') : 해당 요소에 텍스트로 value가 입력되게 할 때 사용
        - clear() : 특정 요소의 입력값을 삭제할 때 사용
        - submid() : 서버로 데이터 전송할 때 사용
        - execute_script('js code') : 자바스크립트 코드 실행

# Selenium Library 사용
- 터미널 설치 실행 코드 ***pip install selenium***
- Selenium Library는 **웹 애플리케이션 개발**과 **자동화 테스트**를 위한 라이브러리입니다. 
- 그러나 웹 페이지에서 데이터를 수집하는 데에도 매우 유용하게 사용될 수 있습니다.

## 1. 데이터 수집에 Selenium 사용
- **selenium.webdriver**는 데이터 수집을 위해 사용됩니다.
- **웹 브라우저 제어** 및 **자동화**를 위한 다양한 API를 제공합니다.
- Selenium은 **다양한 브라우저 제어**를 지원하여 웹 크롤링 및 데이터 수집을 자동화할 수 있습니다.

## 2. WebDriver 모듈

`webdriver` 모듈은 브라우저를 제어하고 자동화할 수 있는 기능을 제공하며, 일부 웹사이트에서는 로봇인지 아닌지 확인하기 위해 `webdriver` 모듈을 제한할 수 있습니다.

### 주요 메소드 및 기능

- **`get(URL)`**: 지정된 URL로 이동합니다.
- **`back()`**: 이전 페이지로 돌아갑니다.
- **`forward()`**: 다음 페이지로 이동합니다.
- **`refresh()`**: 페이지를 새로 고칩니다.
- **`maximize_window()`**: 브라우저 창을 최대화합니다.
- **`close()`**: 현재 탭을 닫습니다.
- **`quit()`**: 전체 브라우저를 종료합니다.

### 요소 찾기

웹 페이지 내에서 특정 요소를 찾기 위해서는 `find_element` 메소드를 사용할 수 있습니다. 주요 방식은 다음과 같습니다:

- **By.ID**: ID 속성을 기준으로 요소를 찾습니다.
  ```python
  driver.find_element(By.ID, '찾고자할 ID명')

- driver.find_element(By.NAME, '찾고자할 태그명')
- driver.find_element(By.CLASS_NAME, '찾고자할 class명')
- driver.find_element(By.TAG_NAME, '찾고자할 태그명')
- driver.find_element(By.CSS_SELECTOR, 'css selector')
- driver.find_element(By.XPATH, '찾고자할 xpath명')

### 상호작용
웹 페이지의 요소와 상호작용을 하기 위한 메소드들은 다음과 같습니다:

- element.click()
- element.send_keys("value")
- element.clear()
- element.submit()
- driver.execute_script("return document.title;")

In [ ]:
# 터미널 설치 실행 코드 ***pip install selenium***
# 네이버 자동 로그인 처리 : 에러 난다
from selenium import webdriver
from selenium.webdriver.common.by import By

# 크롬 브라우저를 다룰 수 있는 오브젝트 생성
driver = webdriver.Chrome()  # 올바른 변수명 'driver'로 수정

# 네이버 로그인 페이지로 이동
driver.get('https://nid.naver.com/nidlogin.login?mode=form&url=https://www.naver.com/')

In [ ]:
naver_id='aaaa' # 네이버 ID
naver_password='1234' # 네이버 PW

In [ ]:
# id 입력하는 textbox 선택
id_box=driver.find_element(By.ID, 'id')
id_box.send_keys(naver_id)

In [ ]:
pw_box=driver.find_element(By.ID, 'pw')
pw_box.send_keys(naver_password)

In [ ]:
login_button=driver.find_element(By.ID, 'log.login')
login_button.click()

In [ ]:
driver.close()

---
### 주유소 데이터 습격
---

In [26]:
# import
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

# Options : 화면 출력 전 옵션 설정
# OPtions.add_argument(옵션)
# OPtions.add_argument('--headless') : 브라우저 창을 화면 표시하지 않고 드라이버 실행

In [27]:
# 브라우저 오브젝트 생성
driver=webdriver.Chrome()

# URL 화면 출력
driver.get('https://www.opinet.co.kr/searRgSelect.do')

In [ ]:
# 1. 서울시 고정, 구별 정보 추출
# select box value 추출
# 1.1 select box search selection
# find_element -> 단일 찾기 , find_elements -> 복수 찾기
x_path='//*[@id="SIGUNGU_NM0"]' # Chrome xpath copy가 있다
gu_list_raw=driver.find_element(By.XPATH, '//*[@id="SIGUNGU_NM0"]')
gu_list=gu_list_raw.find_elements(By.TAG_NAME, 'option') # option 태그 찾아라

# find_elements -> 여러개
gu_list

[<selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.114")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.116")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.118")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.120")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.122")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.124")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.128")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.130")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.134")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.136")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.138")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.140")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.142")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.144")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.146")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.148")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.150")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.154")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.156")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.158")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.160")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cce9456cbe71b60fdb63ee2abf498021", element="f.C6746AF48B6EBA3832D3AFC95A37D4EE.d.6E029DED38DB85E51A2A38B2E115FD6D.e.164")>]

In [29]:
# 구이름 추출해서 리스트 처리
# <option 태그의 value attribute의 값을 추출
gu_name=[option.get_attribute('value') for option in gu_list]
gu_name

['',
 '강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [30]:
gu_name.remove('') # remove는 값만 들어가야한다 # 리스트 인덱스는 안된다
# 슬라이싱 사용, gu_name = gu_name[1:]
# pop() 사용 , gu_name.pop(0)
# 리스트 컴프리헨션 , gu_name = [name for name in gu_name if name != '']

In [31]:
gu_name

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [32]:
from tqdm import tqdm
import time #sleee() 이라는 function 사용하려고 
#client(code) -> server 처리 시간 -> data -> client

for gu in tqdm(gu_name): # 구 25개 -> 25번 반복 
    # 1. select box 선택
    select_element =driver.find_element(By.ID,'SIGUNGU_NM0') # id값은 중복되지 않는다. 
    # select box 값으로 보내서 데이터 갱신: 강남구
    select_element.send_keys(gu)
    
    time.sleep(2) # 서버에서 데이터가 오는것을 2초 기다려라
    # 2. 조회버튼 클릭 : id = searRgSelect
    search_element = driver.find_element(By.ID,'searRgSelect')
    search_element.click
    
    time.sleep(2)
    
    # 3. 엑셀 저장 버튼 선택, 클릭 => 해당 구의 엑셀 파일 다운로드가 된다.
    # //*[@id="templ_list0"]/div[7]/div/a  : select해서 찾기 복잡할때 축약어로 사용 
    x_path='//*[@id="templ_list0"]/div[7]/div/a'
    excel_element = driver.find_element(By.XPATH, x_path)
    excel_element.click()
    
    time.sleep(5)

  8%|▊         | 2/25 [00:28<05:25, 14.15s/it]

KeyboardInterrupt:

In [19]:
driver.colse()

AttributeError: 'WebDriver' object has no attribute 'colse'

---
### 데이터 분석
---

In [38]:
# 엑셀 파일을 로딩해서 데이터프레임 변환
# 25개 파일 : 파일 목록 필요
import numpy as np
import pandas as pd
from glob import glob

In [39]:
# glob 사용법
# glob('경로/파일명 패턴(?,*)')
glob('./oil_data/*.xls') # 해당 디렉토리 안에 있는 파일, *xls로 끝나는 모든 파일을 리스트로 반환

['./oil_data\\지역_위치별(주유소) (1).xls',
 './oil_data\\지역_위치별(주유소) (10).xls',
 './oil_data\\지역_위치별(주유소) (11).xls',
 './oil_data\\지역_위치별(주유소) (12).xls',
 './oil_data\\지역_위치별(주유소) (13).xls',
 './oil_data\\지역_위치별(주유소) (14).xls',
 './oil_data\\지역_위치별(주유소) (15).xls',
 './oil_data\\지역_위치별(주유소) (16).xls',
 './oil_data\\지역_위치별(주유소) (17).xls',
 './oil_data\\지역_위치별(주유소) (18).xls',
 './oil_data\\지역_위치별(주유소) (19).xls',
 './oil_data\\지역_위치별(주유소) (2).xls',
 './oil_data\\지역_위치별(주유소) (20).xls',
 './oil_data\\지역_위치별(주유소) (21).xls',
 './oil_data\\지역_위치별(주유소) (22).xls',
 './oil_data\\지역_위치별(주유소) (23).xls',
 './oil_data\\지역_위치별(주유소) (24).xls',
 './oil_data\\지역_위치별(주유소) (3).xls',
 './oil_data\\지역_위치별(주유소) (4).xls',
 './oil_data\\지역_위치별(주유소) (5).xls',
 './oil_data\\지역_위치별(주유소) (6).xls',
 './oil_data\\지역_위치별(주유소) (7).xls',
 './oil_data\\지역_위치별(주유소) (8).xls',
 './oil_data\\지역_위치별(주유소) (9).xls',
 './oil_data\\지역_위치별(주유소).xls']

In [40]:
# 파일 목록 저장
stations_files=glob('./oil_data/*.xls')
stations_files[:5]

['./oil_data\\지역_위치별(주유소) (1).xls',
 './oil_data\\지역_위치별(주유소) (10).xls',
 './oil_data\\지역_위치별(주유소) (11).xls',
 './oil_data\\지역_위치별(주유소) (12).xls',
 './oil_data\\지역_위치별(주유소) (13).xls']

In [41]:
# 구별 데이터프레임을 저장할 임시 리스트
tmp_df_list=[]

for file_name in stations_files:
    tmp=pd.read_excel(file_name, header=2)
    tmp_df_list.append(tmp) # 위에 읽어온 데이터프레임을 리스트에 추가

In [42]:
# 첫번째 데이터프레임을 확인
tmp_df_list[0].head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,오렌지주유소,서울 강동구 성안로 102 (성내동),SK에너지,02-484-6165,N,-,1554,1354,997
1,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1556,1355,-
2,서울특별시,GS칼텍스㈜직영 신월주유소,서울 강동구 양재대로 1323 (성내동),GS칼텍스,02-475-2600,N,1855,1559,1349,1000
3,서울특별시,광성주유소,서울 강동구 올림픽로 673 (천호동),S-OIL,02-470-5133,N,-,1578,1388,1100
4,서울특별시,(주)소모에너지엔테크놀러지성내주유소,서울 강동구 올림픽로 578 (성내동),GS칼텍스,02-479-3838,Y,-,1588,1388,-

In [43]:
# 리스트 안에 있는 25개 데이터프레임을 통합
stations_raw=pd.concat(tmp_df_list) # pd로 시작하면 모두 데이터프레임 default axis=0 (아래로 병합)
stations_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,오렌지주유소,서울 강동구 성안로 102 (성내동),SK에너지,02-484-6165,N,-,1554,1354,997
1,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1556,1355,-
2,서울특별시,GS칼텍스㈜직영 신월주유소,서울 강동구 양재대로 1323 (성내동),GS칼텍스,02-475-2600,N,1855,1559,1349,1000
3,서울특별시,광성주유소,서울 강동구 올림픽로 673 (천호동),S-OIL,02-470-5133,N,-,1578,1388,1100
4,서울특별시,(주)소모에너지엔테크놀러지성내주유소,서울 강동구 올림픽로 578 (성내동),GS칼텍스,02-479-3838,Y,-,1588,1388,-

In [44]:
stations_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 537 entries, 0 to 45
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      537 non-null    object
 1   상호      537 non-null    object
 2   주소      537 non-null    object
 3   상표      537 non-null    object
 4   전화번호    537 non-null    object
 5   셀프여부    537 non-null    object
 6   고급휘발유   537 non-null    object
 7   휘발유     537 non-null    object
 8   경유      537 non-null    object
 9   실내등유    537 non-null    object
dtypes: object(10)
memory usage: 46.1+ KB

In [45]:
# 기존 데이터프레임에서 정리된 새로운 
stations=pd.DataFrame({
    '상호': stations_raw['상호']
    , '주소' : stations_raw['주소']
    , '가격': stations_raw['휘발유'] 
    , '셀프': stations_raw['셀프여부']
    , '상표': stations_raw['상표']
})

stations.head()

                    상호                      주소    가격 셀프      상표
0               오렌지주유소    서울 강동구 성안로 102 (성내동)  1554  N   SK에너지
1               구천면주유소   서울 강동구 구천면로 357 (암사동)  1556  N  현대오일뱅크
2       GS칼텍스㈜직영 신월주유소  서울 강동구 양재대로 1323 (성내동)  1559  N   GS칼텍스
3                광성주유소   서울 강동구 올림픽로 673 (천호동)  1578  N   S-OIL
4  (주)소모에너지엔테크놀러지성내주유소   서울 강동구 올림픽로 578 (성내동)  1588  Y   GS칼텍스

In [46]:
# 주소에서 '구'를 추출해서 새로운 '구' 컬럼 생성
# stations['구']
stations['구'] = [address.split()[1] for address in stations['주소']]

stations['구'][:5]
stations['구'][-5:]

41    강남구
42    강남구
43    강남구
44    강남구
45    강남구
Name: 구, dtype: object

In [47]:
# 구 데이터 처리 정상인지 확인 
for gu in stations['구']:
    if gu.endswith('구'): # 구로 끝날 경우 True 반환 
        pass
    else: # '구'로 끝나지 않은 경우
        print(gu)

서울특별시
특별시

In [48]:
# 휘발유 가격 이상값 확인 : 불린 인덱싱 
stations[stations['가격'] =='-'] # -은 없다

               상호                          주소 가격 셀프     상표     구
18  명진석유(주)동서울주유소  서울특별시 강동구  천호대로 1456 (상일동)  -  Y  GS칼텍스   강동구
33          하나주유소   서울특별시 영등포구  도림로 236 (신길동)  -  N  S-OIL  영등포구
12   (주)에이앤이청담주유소    서울특별시 강북구 도봉로 155  (미아동)  -  Y  SK에너지   강북구
13          송정주유소    서울특별시 강북구 인수봉로 185 (수유동)  -  N   자가상표   강북구

In [49]:
# boolean type sum을 하묜 True는 1로 처리하고 False=0으로 처리 후 합을 구한다 
# True인 개수 출력 : '-' 이 들어있는 개수 
(stations['가격'] == '-').sum()

np.int64(4)

In [50]:
# 가격 컬럼을 실수로 변환 : astype(변환할 타입)
# stations['가격'].astype('float')
stations['가격']= [float(value) for value in stations['가격']]
stations.info()

ValueError: could not convert string to float: '-'

In [ ]:
stations.index()

In [ ]:
# 중복된 인덱스 리셋 
stations.reset_index(inplace=True) # integer index
stations.index[:50]

In [ ]:
# reset_index 실행시 주의 사항 : 기존 인덱스 값을 컬럼으로 만든다 
stations.head()
list(stations.index[:50])

In [ ]:
# 생성된 index 컬럼 삭제
del stations['index']
stations.info()

In [ ]:
# 시각화 : 극단값(이상치) 확인 
import maplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 윈도우 기준 한글 처리 
plt.rcParams['font.family']='Malgun Gothic'
plt.rcParams['axes.unicode_minus']=False

In [ ]:
# 셀프(조건) 주유소의 휘발유 가격이 정말 저렴한지를 시각화
# 1. 데이터 프레임에 boxplot이 있다.
stations.boxplot(
    column='가격' # 가격 비교 
    , by='셀프' # 조건 지정 : 셀프 주유소와 셀프가 아닌 주유소 
    , figsize=(6,4)
)

NameError: name 'stations' is not defined

In [ ]:
# 상표(조건)별 가격 분석 
stations['상표'].unique()

In [ ]:
stations.boxplot(
    column='가격'
    , by='상표'
    , figsize=(6,4)
)

In [51]:
# sns 사용해서 boxplot
import warnings
warnings.filterwarnings('ignore')


plt.figure(figsize=(6,4))
sns.boxplot(
    data=stations # 데이터 프레임 지정
    , x='상표'
    , y='가격'
    , hue='셀프' # 조건
    , palette='Set3'
)
sns.swarmplot( # 데이터 분포 확인 
    x='상표'
    , y='가격'
    , data=stations
    , color='0.6'
)
plt.show()

NameError: name 'plt' is not defined

---
#### 분석, 지도 시각화 
---

In [52]:
# 임포트 
import numpy as np
import pandas as pd
import json
import folium
import googlemaps

import warnings
warnings.filterwarnings('ignore')

In [55]:
# 지도 시각화 
# 1. 구별 평균 가격 : 데이터 
# 2. 상위 10개, 하위 10개 주유소를 시각화 (위도,경도) : 데이터
# 2.1 상위 10개
stations.sort_values( by='가격',ascending=False).head(10)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
stations.sort_values(by='가격', ascending=True).head(10)

In [56]:
# 구별(그룹) 평균(aggregation) 가격
gu_data=pd.pivot_table( # 인덱스 값으로 오름차순 정렬한 결과를 데이터 프레임으로 반환 
    data=stations
    , index=['구'] # 인덱스에 들어가는 값 그룹핑한다.
    , values=['가격']
    , aggfunc=np.mean
)
gu_data

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
#서울시 구를 경계로 한 지도 데이터 
geo_path='./data/02. skorea_municipalities_geo_simple.json'
geo_str=json.load(open(geo_path,encoding='utf-3'))
geo_str

In [57]:
# 지도 생성 
map=folium.Map(
    location=[37.5502,126.982]
    , zoom_start=11
)
# 구별 경계선 : choropleth
folium.choropleth(
    geo_data=geo_str # 경계선 데이터 지정
    , data=gu_data # 구별 색상값 , 구별 평균 가격 
    , columns=[gu_data.index, '가격']
    , fill_color='PuRd'
    , key_on='feature.id' # 경계선 데이터데 있는 구 추출
).add_to(map)
map

AttributeError: module 'folium' has no attribute 'choropleth'

In [ ]:
# 상하위 10개 변수 선언 저장
oil_price_top10=stations.sort_values(by='가격', ascending=False).head(10)
oil_price_bottom10=stations.sort_values(by='가격', ascending=True).head(10)

In [ ]:
oil_price_top10.head(1)

In [ ]:
# 구글 주소 검색 설정 
gmaps_key='AIzaSyCRxIgstOs32GDCO9t3CzdfaLAnb5tu0fI'
gmaps=googlemaps.Client(key=gmaps_key)

In [ ]:
# 상위 10개 주소에서 위도, 경도 추출 
from tqdm import tqdm 

lat = []
lng = []
err = []

for idx in tqdm(oil_price_top10.index): # 10번 반복 
    try:
        tmp_address=str(oil_price_top10['주소'][idx]).split('(')[0]
        tmp_map=gmaps.geocode(tmp_address) # 잘못된 주소에 의해 에러 발생 가능 
        
        tmp_loc=tmp_map[0].get('geometry')
        lat.append(tmp_loc['location']['lat'])
        lng.append(tmp_loc['location']['lng'])
    except: # 잘못된 주소가 요청된 경우
        lat.append(np.nan)
        lng.append(np.nan)
        print('잘못된 주소: '+ idx)
        err.append(idx)

In [ ]:
# oil_price_top10 DataFrame에 lat, lng 추가
oil_price_top10['lat']=lat
oil_price_top10['lng']=lng
oil_price_top10

In [ ]:
type(oil_price_top10['주소'][231])

In [ ]:
# 하위 10개 처리 
lat=[]
lng=[]
err=[]

for idx in tqdm(oil_price_bottom10.index):
    try:
        tmp_address=str(oil_price_bottom10['주소'][idx]).split('(')[0]
        tmp_map=gmaps.geocode(tmp_address)
        
        tmp_loc=tmp_map[0].get('geometry')
        lat.append(tmp_loc['location']['lat'])
        lng.append(tmp_loc['location']['lng'])
        
    except:
        lat.append(np.nan)
        lng.append(np.nan)
        print('잘못된 주소: '+ idx)
        err.append(idx)

In [ ]:
oil_price_bottom10['lat']=lat
oil_price_bottom10['lng']=lng
oil_price_bottom10

In [ ]:
# 지도를 생성, 상하위 10개 표시 => 원마커 사용
map = folium.Map(
    location=[37.5502,126.982]
    , zoom_start=10
)

# 상위 10개 표시 
for idx in oil_price_top10.index:
    if pd.notnull(oil_price_top10['lat'][idx]):
        folium.CircleMarker(
            [oil_price_top10['lat'][idx], oil_price_top10['lng'][idx]]
            , radius=oil_price_top10['가격'][idx]/100
            , color = '#CD3181'
            , fill_color='#CD3181'
            , fill=True
        ).add_to(map)
        
# 하위 10개 표시 
for idx in oil_price_bottom10.index:
    if pd.notnull(oil_price_top10['lat'][idx]):
        folium.CircleMarker(
            [oil_price_bottom10['lat'][idx], oil_price_bottom10['lng'][idx]]
            , radius=oil_price_bottom10['가격'][idx]/100
            , color = '#3186CC'
            , fill_color='#3186CC'
            , fill=True
        ).add_to(map)