## 2025.02.14(금)

### List 데이터 타입 
1. 여러개 저장
2. 하나로 묶는다

### 인덱싱
-단일값 처리

In [2]:
a = [1,2,3]
# print(문자변경출력) 안하고 a 출력 : 타입이 보인다
print(a)

[1, 2, 3]

In [6]:
# [1,2,3] 리스트에서 1 값을 추출 
print(a[0])

# 3 추출
print(a[2])
print(a[-1])

1
3
3

In [10]:

a =[1,2,3,['a','b','c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [15]:
a =[1,2,3,['a','b','c']]
print(a[3])
print(a[-1])

#b 추출
print(a[3][1])
print(a[-1][1])

['a', 'b', 'c']
['a', 'b', 'c']
b
b

In [17]:
# 슬라이싱 : 여러개 추출 => 리스트 반환
# [start : end-1]
a = [1,2,3,4,5]
# [1,2] 반환
print(a[0:2])
print(a[:2])

[1, 2]
[1, 2]

In [20]:
# 중첩된 리스트(리스트 안에 리스트 있는 것 ) 슬라이싱
a = [1,2,3,['a','b','c'],4,5]
# ['a','b']
print(a[3][0:2])
print(a[3][:2])

['a', 'b']
['a', 'b']

In [ ]:
# 리스트에서 사용하는 연산자 (+,*) =>  사용 잘 안함
# 1.리스트 + 리스트 : 연산자보다 함수를 사용한다.
a = [1,2,3]
b = [4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [25]:
# * 연산자 => 사용 잘 안함
a = [1,2,3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 연산자 사용시 주의사항
a = [1,2,3]
print(a[2])
print(type(a[2]))
# print(a[2]+'hi') => error (타입 안맞음)
print(str(a[2])+'hi')

3
<class 'int'>
3hi

In [ ]:
# 리스트 수정 (변경,삭제)
# 1.리스트에서 하나의 값(단일값)을 변경 => 인덱싱
a = [1,2,3]
# 3 => 4로 변경
a[2]=4

print(a)

# 2.리스트에서 여러개 값을 변경 
# 2 => ['a','b','c']
# 인덱싱 => 리스트가 통으로 들어간다.
a[1] = ['a','b','c']
print(a)

#슬라이싱 => 리스트가 쪼개져서 들어간다.
a[1:2] = ['a','b','c']
print(a)

[1, 2, 4]
[1, ['a', 'b', 'c'], 4]
[1, 'a', 'b', 'c', 4]

In [50]:
# 리스트 데이터(요소) 삭제
a = [1, 'a', 'b', 'c', 4]
print(a)
a[1:3] = []
a

[1, 'a', 'b', 'c', 4]

[1, 'c', 4]

In [51]:
# object 삭제 : 함수 => del
a = [1,'c',4]
a
del a[1]
print(a)

[1, 4]

---
### 리스트 관련 메소드
---

In [54]:
# append : 마지막에 추가 
a = [1,2,3]
print(a)
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [57]:
# sort : 정렬 
a = [1,4,3,2]
# sort의 return 타입 : None => 안에 값 변경했으므로 리턴이 null 나온다.
print( a.sort())
print(a)

b = ['a','c','d','b']
print( b.sort())
print(b)

None
[1, 2, 3, 4]
None
['a', 'b', 'c', 'd']

In [59]:
#reverse : 뒤집기 (정렬이 아니다)

In [63]:
# index : 리스트 안에 있는 특정 값을 찾아 index를 반환 
a = [1,2,3]
print(a.index(3)) # 3값의 인덱스 찾아라
# print(a.index(6)) # 6값은 없다 => error: value error

2

In [68]:
# insert : 특정 위치(index)에 삽인 // append : 마지막에 삽입 
# insert(위치(인덱스), 삽입 할 값)
a = [1,2,3]
print(a.insert(0,4))
print(a)
print(a.insert(3,5))
print(a)

None
[4, 1, 2, 3]
None
[4, 1, 2, 5, 3]

In [72]:
# remove: 값을 찾아서 제거, 왼쪽에서부터 찾아서 제거
a = [1,2,3,1,2,3]
print(a.remove(1)) #1제거
print(a) # => [2, 3, 1, 2, 3]
print(a.remove(1))
print(a)
# print(a.remove(1)) # => 없으면 value error
# print(a)

None
[2, 3, 1, 2, 3]
None
[2, 3, 2, 3]

In [ ]:
# pop : 1.마지막에서 꺼내고 삭제 
a = [1,2,3]
print(a.pop()) #파라미터 없다
print(a)

# 2.특정값을 지정해서 꺼내고 삭제
print(a.pop(1)) #1(index)꺼내고 삭제
print(a)

3
[1, 2]
2
[1]

In [75]:
# count : 특정 값의 개수 세기 
# count(특정값)
a = [1,2,3,1]
print(a.count(1)) #1의 개수는 몇개??

2

In [79]:
# append
a = [1,2,3]
print(a.append([4,5]))
print(a)
a = [1,2,3]
print(a.extend([4,5]))
print(a)
a = [1,2,3]
print(a+[4,5])

None
[1, 2, 3, [4, 5]]
None
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]