In [1]:
# 데이터는 한줄이다.
mutiline = 'Life is too short \n you need python'

In [3]:
#print 할 때 역슬래시 n이 먹은 것
print(mutiline)

Life is too short
 you need python

In [8]:
# 여러줄 쓸 때 => '''
mutiline = '''
life is too short
you need python
'''

print(mutiline)

life is too short
you need python

In [9]:
mutiline = '''life is too short
you need python'''

print(mutiline)

life is too short
you need python

In [10]:
'''
1.주석
2.여러줄 주석
3.대입을 안하면 쓰레기 데이터가 된다 => 따라서 주석으로 사용됨

'''

'\n1.주석\n2.여러줄 주석\n3.대입을 안하면 쓰레기 데이터가 된다 => 따라서 주석으로 사용됨\n\n'

In [11]:
# 곱하기 
print('='*20)
print('연락처 프로그램')
print('='*20)

====================
연락처 프로그램
====================

In [ ]:
a = 'life is too short, you need python'

# []대괄호 : 리스트
a[3], a[12], a[33], a[-1],a[-3]

#인덱싱 방식

('e', 's', 'n', 'n', 'h')

In [14]:
# 데이터로 년월일날씨가 입력된다.
# 날짜, 날씨 분리 
data = '20250213Rainy'

date_= data[0:8]
print(date_)
weather = data[8:]
print(weather)

20250213
Rainy

##문자열 포매팅 
1. % 사용하는 포매팅
2. 문자열 객체 => format function 사용하는 포매팅
3. f-string 사용하는 포매팅  *제일 많이 사용

In [20]:
# 1. $사용
a = 22
print('현재 온도는 %d도 입니다 ' % a)
# 2. format function 사용 => .format()
print('현재 온도는 {0}도 입니다'.format(a))
# 3. f-string
print(f'현재 온도는 {a}도 입니다.')

현재 온도는 22도 입니다
현재 온도는 22도 입니다
현재 온도는 22도 입니다.

In [22]:
# 1. %사용
# 숫자: d , 문자: s
# print() 메소드는 파라미터(문자열) 한개만 받는다.
print('사과를 %d개, 배를%d개 먹었다.' %(1,2))
print('사과를 %s개, 배를%s개 먹었다' % ('one','two'))

num1 = 1
num2 = 2
str1 = 'one'
str2 = 'two'
print('사과를 %d개, 배는%d개 먹었다' %(num1,num2))
print('사과를 %s개, 배는%s개 먹었다' %(str1,str2))

사과를 1개, 배를2개 먹었다.
사과를 one개, 배를two개 먹었다
사과를 1개, 배는2개 먹었다
사과를 one개, 배는two개 먹었다

In [25]:
#포맷 코드와 숫자 함께 사용하기
# 1) 정렬과 공백
# 오른쪽 정렬
# h1 들어가는 공간 10자로 만들어라 => 공백 8자
print('%10sjane' %'hi')

#len : 문자열의 길이 
print(len('%10s' %'hi'))

# 왼쪽 정렬
print('%-7sjane' %'hi')

        hijane
10
hi     jane

In [27]:
#소수점 표현
#디폴트로 소수점 6번째 자리까지만 출력된다
print('%f' % 3.42134264)
print('%f' % 3.42134234)

3.421343
3.421342

In [28]:
a = 'hobby'
print(a.count('b'))
print(a.count('bb'))

2
1